
<div class="container pt-5">
    <div class="card" style="width: 25rem;" >
        <img class="card-img-top m-4" style="width: 22rem;" src="../assets/img/transaction.png" alt="card-img">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">ID: </h6>
            <p class="card-text"> {{datosT.id}} </p>
            <h6 class="card-subtitle mb-2 text-muted">AMOUNT: </h6>
            <p class="card-text"> {{datosT.amount}} </p>
            <h6 class="card-subtitle mb-2 text-muted">BALANCE: </h6>
            <p class="card-text"> {{datosT.balance}} </p>
            <h6 class="card-subtitle mb-2 text-muted">LABEL: </h6>
            <p class="card-text"> {{datosT.label}} </p>
            <h6 class="card-subtitle mb-2 text-muted">DESCRIPTION: </h6>
            <p class="card-text"> {{datosT.description}} </p>
            <h6 class="card-subtitle mb-2 text-muted">DATE: </h6>
            <p class="card-text"> {{datosT.date}} </p>
        </div>
      </div>
</div>
